.pswd{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    text-align: center;
  /* position: absolute;
  left: 300px;
  
*/
background-color: rgb(155, 180, 204);
}
.inbox{
  width: 150px;
}