{% extends 'grocery/adminmaster.html' %}
{% load static %}

    {% block content %}
    <div class="container-fluid">
        <div class="row">
          <h1>Dash board</h1>
            
                <div class="col-3">
                    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Total Users</div>
                        <div class="card-body">
                          <h5 class="card-title">2</h5>
                          
                          <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                        </div>
                      </div>
                     
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Total Products</div>
                            <div class="card-body">
                              <h5 class="card-title">2</h5>
                              
                              <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                            </div>
                          </div>
                         
                        </div>

                        <div class="col-3">
                            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                                <div class="card-header">Total Category</div>
                                <div class="card-body">
                                  <h5 class="card-title">4</h5>
                                  
                                  <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                </div>
                              </div>
                             
                            </div>

                            <div class="col-3">
                                <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                                    <div class="card-header">New Order</div>
                                    <div class="card-body">
                                      <h5 class="card-title">2</h5>
                                      
                                      <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                    </div>
                                  </div>
                                 
                                </div>
            
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Dispatch Order</div>
                    <div class="card-body">
                      <h5 class="card-title">1</h5>
                      
                      <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                    </div>
                  </div>
                 
                </div>
                
                <div class="col-3">
                    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">On The Way Order</div>
                        <div class="card-body">
                          <h5 class="card-title">0</h5>
                          
                          <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                        </div>
                      </div>
                     
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Delivered Order</div>
                            <div class="card-body">
                              <h5 class="card-title">0</h5>
                              
                              <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                            </div>
                          </div>
                         
                        </div>

                        <div class="col-3">
                            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                                <div class="card-header">Cancel Order</div>
                                <div class="card-body">
                                  <h5 class="card-title">0</h5>
                                  
                                  <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                </div>
                              </div>
                             
                            </div>
                        
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Return Order</div>
                    <div class="card-body">
                      <h5 class="card-title">0</h5>
                      
                      <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                    </div>
                  </div>
                 
                </div>
                
                <div class="col-3">
                    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Total Order</div>
                        <div class="card-body">
                          <h5 class="card-title">5</h5>
                          
                          <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                        </div>
                      </div>
                     
                    </div>

                    <div class="col-3">
                        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Read Feedback</div>
                            <div class="card-body">
                              <h5 class="card-title">0</h5>
                              
                              <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                            </div>
                          </div>
                         
                        </div>

                        <div class="col-3">
                            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                                <div class="card-header">Unread Feedback</div>
                                <div class="card-body">
                                  <h5 class="card-title">1</h5>
                                  
                                  <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                </div>
                              </div>
                             
                            </div>
                        
        </div>
    </div>



    {% endblock %}