{% extends 'grocery/adminmaster.html' %}
{% load static %}

    {% block content %}
    <br><br><br>
    
    </header>
    <div class="container" style="height: 700px;">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                     <h5 class="card-title">Total users</h5>
                     </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item">3</li>
                     </ul>
                   <div class="card-body">
                     <a href="#" class="card-link">view details</a>
                     </div>
                 </div>
                </div>

                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                         <h5 class="card-title">total products</h5>
                         </div>
                       <ul class="list-group list-group-flush">
                         <li class="list-group-item">25</li>
                         </ul>
                       <div class="card-body">
                         <a href="#" class="card-link">view deatails</a>
                         </div>
                     </div>
                    </div>

                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                             <h5 class="card-title">total categorys</h5>
                             </div>
                           <ul class="list-group list-group-flush">
                             <li class="list-group-item">10</li>
                             </ul>
                           <div class="card-body">
                             <a href="#" class="card-link">view details</a>
                             </div>
                         </div>
                        </div>

                        
        </div>
        <br><br>

        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                     <h5 class="card-title">total order</h5>
                     </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item">55</li>
                     </ul>
                   <div class="card-body">
                     <a href="#" class="card-link">view details</a>
                     </div>
                 </div>
                

              
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
               <h5 class="card-title">new order</h5>
               </div>
             <ul class="list-group list-group-flush">
               <li class="list-group-item">15</li>
               </ul>
             <div class="card-body">
               <a href="#" class="card-link">view details</a>
               </div>
           </div>
          </div>
        </div>
    </div>
    {% endblock %}
    
    


 