{% extends 'grocery/adminmaster.html' %}
{% load static %}

<body style="background-color: rgb(185, 13, 185);">
   
  
           {% block content %}



            <div class="container-fluid" style="height: 700px;">
                <div class="row">
                    <div class="col-3">
                        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Total Users</div>
                            <div class="card-body">
                              <h5 class="card-title">121</h5>
                              
                              <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                            </div>
                          </div>
                         
                        </div>

                        <div class="col-3">
                            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header">Total Products</div>
                                <div class="card-body">
                                  <h5 class="card-title">112</h5>
                                  
                                  <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                </div>
                              </div>
                             
                            </div>
                            <div class="col-3">
                                <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Total Category</div>
                                    <div class="card-body">
                                      <h5 class="card-title">233</h5>
                                     
                                      <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                    </div>
                                  </div>
                                  
                                </div>

                                <div class="col-3">
                                    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                        <div class="card-header">New order</div>
                                        <div class="card-body">
                                          <h5 class="card-title">111</h5>
                                          
                                          <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                                        </div>
                                      </div>
                                     
                                    </div>

                                    
                    </div>
                
                <br><br>


    
        <div class="row">
            <div class="col-4">
                <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Order</div>
                    <div class="card-body">
                      <h5 class="card-title">243</h5>
                      
                      <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                    </div>
                  </div>
                  
            </div>

            <div class="col-4">
              <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header">Total Feedback</div>
                  <div class="card-body">
                    <h5 class="card-title">1245</h5>
                   
                    <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                  </div>
                </div>
               
              </div>



            <div class="col-4">
                <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Reviews</div>
                    <div class="card-body">
                      <h5 class="card-title">1134</h5>
                      
                      <div class="card-footer bg-transparent border-success"><a href="">View Details >></a></div>
                    </div>
                  </div>
                 
            </div>

          
                  
            </div>
        </div>
      </div>
    
    {% endblock %}
          




    
