{% extends 'customerapp/master.html' %}
{% load static %}

     {% block content %}
     <div class="cotntainer">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 pswd">
               
                <h1>change password</h1>

              
                    <label class="inbox" for="">old password</label><br>
                    <input type="password" name="" id="">
                    <br><br>
                    <label for="">create new password</label><br>
                    <input class="inbox" type="password" name="" id="">
                    <br><br>
                    <label for="">conform new password</label><br>
                    <input class="inbox" type="password" name="" id="">
                    <br><br>
                    <button>submit</button>
        
        
           
            

            </div>
        </div>
     </div>
   
       



     {% endblock %}